.recollectionCard {
    padding: 3px 3px 10px 3px;
    background-color: white;
    box-shadow: 1px 1px 1px #aaaaaa;
    font-family: 'Oxygen', sans-serif;

}

.bookmarkedCard {
    border: 3px solid salmon; 
}

.deleteAlert {
    width: 70%; 
    /* float:right;  */
    margin-top: 10px; 
    margin-bottom: 5px; 
}

.deleteAlertButtons {
    margin-left: 5px; 
}

.editForm {
    width: 80%; 
    margin-left: 10%; 
    margin-top: 2%; 
}

.timeStamp {
    float: right; 
}